.menu {
  background: white;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__active {
    color: rgb(8, 86, 193);
  }

  &__item {
    padding: 18px 9px 13px 9px;
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.3s ease 0s;

    span {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }

    i {
      display: block;
      width: 40px;
      height: 25px;
      font-size: 17px;
      text-align: center;
    }

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: radial-gradient(
        ellipse at right,
        #dddddd 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }

    &:hover {
      color: rgb(8, 86, 193);
    }
  }
}

@media screen and (max-width: 765px) {
  .menu {
    ul {
      display: flex;
      width: 100%;
      li {
        padding: 13px 7px;
        width: calc(100% / 5);
        &:before {
          content: none;
        }
        &:after {
          width: 1px;
          height: 100%;
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: auto;
          background: radial-gradient(
            ellipse at top,
            #dddddd 0%,
            rgba(255, 255, 255, 0) 70%
          );
        }
      }
    }
  }
}
