.profile {
  background-color: white;
  height: 100%;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &__avatar {
    background-image: url('./../../assets/avatar.jpg');
    background-position: center -20px;
    background-size: cover;
    width: 480px;
    height: 420px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &:before {
      content: '';
      background-color: white;
      position: absolute;
      left: -20px;
      bottom: -29px;
      width: 54%;
      height: 52px;
      transform: rotate(190deg);
    }

    &:after {
      content: '';
      background-color: white;
      position: absolute;
      right: -20px;
      bottom: -29px;
      width: 54%;
      height: 52px;
      transform: rotate(170deg);
    }
  }

  &__info {
    text-align: center;

    h4 {
      font-size: 34px;
      line-height: 32px;
      font-weight: 400;

      margin: 30px 0 8px 0;
    }

    span {
      color: rgb(8, 86, 193);
      font-size: 16px;
      line-height: 20px;
      height: 20px;
      font-weight: 400;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    a {
      color: #171717;
      margin: 0 6px;

      &:hover {
        color: rgb(8, 86, 193);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__single--before {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: radial-gradient(
          ellipse at top,
          #dddddd 0%,
          rgba(255, 255, 255, 0) 70%
        );
      }
    }

    &__single {
      width: 50%;
      height: 70px;
      background-color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;

      span {
        font-size: 14px;
        margin-right: 8px;
      }

      &:hover {
        color: rgb(8, 86, 193);
      }

      &:focus {
        outline: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      width: 100%;
      height: 1px;
      background: radial-gradient(
        ellipse at center,
        #dddddd 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -15px;
    top: -15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      135deg,
      rgba(8, 86, 193, 0.4) 0%,
      rgba(8, 86, 193, 0.01) 100%
    );
    border-radius: 4px;
  }
}
