.end {
  &__content {
    color: #646464;
    &__row {
      display: table;
      width: 100%;
    }

    &__thanks {
      text-align: center;
      img {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .end {
    &__content {
      font-size: 15px;
      &__thanks {
        div {
          img {
            width: 200px;
            height: 200px;
          }
        }
      }
    }
  }
}
