.about {
  &__content {
    position: relative;
    color: #646464;
    margin-bottom: 40px;

    &__row {
      display: table;
      width: 100%;

      &__col {
        display: table-cell;
        width: 50%;
        padding: 30px;
      }

      &__university {
        &__name {
          height: 50px;
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          transform: translate(-15px, 15px);

          &:before {
            content: '';
            height: 70px;
            width: 70px;
            position: absolute;
            top: -10px;
            left: 15px;

            background-image: url('./../../../../assets/logo.png');
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }

      &__info div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 0;
        position: relative;

        strong {
          width: 30%;
          background: #0856c1;
          padding: 1px 8px;
          font-size: 14px;
          line-height: 20px;
          color: #fefefe;
          font-weight: 400;
          text-transform: none;
          border-radius: 2px;
        }

        span {
          text-align: right;
          width: 70%;
          display: inline-block;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: radial-gradient(
            ellipse at center,
            #dddddd 0%,
            rgba(255, 255, 255, 0) 70%
          );
        }
      }
    }

    &:after {
      margin: 0 0 0 -1px;
      content: '';
      position: absolute;
      z-index: 3;
      left: 50%;
      top: 0;
      width: 1px;
      height: 100%;
      background: radial-gradient(
        ellipse at top,
        #dddddd 0%,
        rgba(255, 255, 255, 0) 70%
      );
    }
  }
}

@media screen and (max-width: 1439px) {
  .about__content__row__university {
    &__name {
      &:before {
        top: -10px;
        left: -25px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .about__content__row__university {
    &__name {
      &:before {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .about__content {
    &:after {
      content: none;
    }
    &__row {
      display: flex;
      flex-direction: column;
      &__col {
        display: block;
        width: unset;
        padding-bottom: 0;
      }

      &__info {
        padding-bottom: 30px;
      }
      &__university {
        &__name {
          &:before {
            content: '';
            top: -15px;
            left: 35px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .about__content__row__col {
    font-size: 15px;
  }
  .about__content__row__university {
    &__name {
      height: unset;
      transform: unset;
      &:before {
        display: none;
      }
    }
  }
}
